.thumbnail img{
    width: 100%;
}
.thumbnail{
    padding: 0;
}

.thumbnail .caption-full{
    padding:9px;
}
.delete-form{
    display:inline;
}
/*Google Map*/
#map{
    height: 480px;
    width: 100%;
}
.checked {
    color: orange;
}